/* styles.css */

div {
  color: white;
  background-color: black;
}

p {
  color: red;
}
/* <style>
        *{
          margin: 20px;
        }
        body {
          background-color: whitesmoke;
        }
        h1 {
          color: black;
          font-family: Arial, sans-serif;
          text-align: center;
        }
        h2 {
          color: black;
          font-family: Arial, sans-serif;
          text-align: justify;
        }
        p {
          color: black;
          font-family: Arial, sans-serif;
          font-size: 18px;
          padding: 10px;
          text-align: justify;
        }
        div.bold-text {
          font-weight: 700;
        }

        .alert-text {
          color: red;
        }
      </style> */